body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    background-color: black;
    color: gold;
    padding: 0px 200px;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.logo {
    font: initial;
    font-size: 40px;
    font-weight: 900;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.intro {
    display: flex;
    padding: 75px 0px;
    justify-content: space-between;
    gap: 200px;
}

.int-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.int-title {
    font-size: 35px;
    font-weight: bolder;
}

.int-text {
    font-size: 18px;
    flex-wrap: wrap;
}

button {
    font: -webkit-mini-control;
    font-weight: 100;
    padding: 8px;
    border-radius: 10px;
}

.int-img img{
    width: 400px;
}

.gallery img {
    width: 400px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
    margin: 0;
    gap: 50px;
    height: 450px;
}

.gallery-content {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.farm, .mountain, .park {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gallery-title {
    font-size: 35px;
    font-weight: bolder;
}

.title {
    padding: 16px 0 0 0;
    font-weight: bolder;

}

.sub-text {
    font-size: 14px;
    flex-wrap: wrap;
    width: 300px;
    padding: 8px 0 16px 0;
}

.text-container {
    width: 400px;
    color: ghostwhite;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}