body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    background-color: black;
    color: gold;
    padding: 0px 200px;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.logo {
    font: initial;
    font-size: 40px;
    font-weight: 900;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.intro {
    display: flex;
    padding: 75px 0px;
    justify-content: space-between;
    gap: 200px;
}

.int-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.int-title {
    font-size: 35px;
    font-weight: bolder;
}

.int-text {
    font-size: 18px;
    flex-wrap: wrap;
}

button {
    font: -webkit-mini-control;
    font-weight: 100;
    padding: 8px;
    border-radius: 10px;
    background-color: ghostwhite;
}

.int-img img{
    width: 400px;
}

.gallery img {
    width: 400px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px 75px;
    margin: 0;
    gap: 50px;
    height: 450px;
}

.gallery-content {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.farm, .mountain, .park {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gallery-title {
    font-size: 35px;
    font-weight: bolder;
}

.title {
    padding: 16px 0 0 0;
    font-weight: bolder;

}

.sub-text {
    font-size: 14px;
    flex-wrap: wrap;
    width: 300px;
    padding: 8px 0 16px 0;
}

.text-container {
    width: 400px;
    color: ghostwhite;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspiration {
    background-color: gold;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inspo-container {
    background-color: black;
    color: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
    height: 300px;
    gap: 24px;
}

.quote {
    font-size: xx-large;
    font-style: italic;
    width: 800px;
}

.author {
    display: flex;
    align-self: flex-end;
    margin-right: 100px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.container {
    background-color: black;
    color: ghostwhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    width: 1200px;
    height: 100px;
    border-radius: 14px;
}

.cta-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cta-caption {
    font-size: 24px;
    font-weight: bold;
}

.cta-subtext {
    font-size: 16px;
}

.container button {
    font: -webkit-mini-control;
    font-weight: 100;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    border-color: ghostwhite;
    color: ghostwhite;
}

.footer {
    font-size: 14px;
    font-weight: bold;
    height: 80px;
    background-color: black;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}